<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Velkommen til Café Efac</h5>
                <p class="card-text">På vores side kan du oprette en bruger og reservere bord.</p>
                <a href="/register" class="btn btn-primary">Kom igang</a>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
    
    <%- include('../partials/javascript') %>
</body>
</html>